@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&display=swap');

header {
    background-color: rgb(24, 40, 33);
    padding: 15px;
    text-align: center;
}

header h2 {
    font-family: 'Noto Sans', sans-serif;
    color: #ffff;
}

header h3 {
    color: #ffff;
}

.section-1 {
    display: flex;
    justify-content: center;
}

.section-1-inside {
    width: 80%;
    background-color: #161616;
    display: flex;
    padding-left: 25px;
    padding-top: 25px;
}


.section-1-inside>div {
    width: 50%;
}


.hide {
    display: none;
}

.section-1-inside>div h2 {
    color: #ffff;
    font-family: 'Noto Sans', sans-serif;
    font-size: 50px;
}

.section-1-inside>div p {
    color: #ffff;
    font-family: 'Noto Sans', sans-serif;
}


.watch-btn {
    display: flex;
    align-items: center;
    background-color: #DD0000;
    width: 150px;
    font-family: 'Noto Sans', sans-serif;
}

.section-1-inside>div a {
    display: inline-block;
    text-decoration: none;
    color: #ffff;

    font-size: 18px;
    padding: 8px;
}

.section-1-inside img {
    width: 50%;
    margin-left: 150px;

}


.section-2 {
    display: flex;
    justify-content: center;
    margin-top: 40px;

}

.section-2-inside {
    width: 80%;

    padding-left: 25px;
    padding-top: 25px;
    display: flex;
    position: relative;
}

.fix-nav {
    background-color: #161616;
    width: 24.5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 250px;
    border-radius: 8px;
    position: sticky;
    top: 0px;


}

.fix-nav p {
    width: 80%;

    margin-left: 9%;
    padding: 7px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    font-family: 'Noto Sans', sans-serif;
    color: #161616;
    border-radius: 8px;
}

.fix-nav p:hover {
    background-color: rgb(223, 39, 39);
    color: #ffff;
    transition: all ease 0.3s;
}

#activ {
    background-color: rgb(223, 39, 39);
}

.fix-nav a {

    text-decoration: none;
    color: rgb(10, 10, 10);
    font-weight: 900;

}

.link-1 {
    background-color: rgb(255, 255, 255);
    font-family: 'Noto Sans', sans-serif;
    color: #161616;
    border-radius: 8px;
}

.grid {
    width: 73.5%;


    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
    margin-left: 2%;

}

.grid>div {
    border: 1px solid #dddd;
    padding-left: 10px;
    font-family: 'Noto Sans', sans-serif;
}

.grid>div h2 {
    border: 1px solid black;
    width: 40%;
    text-align: center;
}

.grid>div img {
    width: 100%;

}


.icon-box p {
    height: 30px;
    margin-left: 12px;
}

.icon-box {
    display: flex;
    align-items: center;
    font-size: 12px;


}

.icon {
    font-size: 14px;
}


.grid-2 {
    width: 73.5%;


    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
    margin-left: 2%;
}

.grid-2>div {
    border: 1px solid #dddd;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 10px;
    font-family: 'Noto Sans', sans-serif;
}

.text-box {
    text-align: center;
}



footer {
    height: 350px;
    background-color: #161616;
    text-align: center;
    color: #ffff;
    margin-top: 110px;
}

footer h1 {
    padding-top: 150px;
    font-family: 'Noto Sans', sans-serif;
}

.flag-box {
    display: flex;
    justify-content: space-between;

}

.footer-text {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 80%;
}

.inside-text {
    border-top: 1px solid rgb(242, 236, 236);
    display: flex;
    width: 80%;
    margin: 0 auto;
    justify-content: space-between;
    font-family: 'Noto Sans', sans-serif;
}

.social-wrap {
    display: flex;
    justify-content: center;
    width: 80%;



}

.social {
    text-align: center;
}


.social ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.social ul li {
    margin-left: 5px;
}


/* responsive  */

@media only screen and (min-width: 768px) and (max-width: 991px) {
    body {
        background-color: rgb(215, 211, 211);
    }

    .section-2-inside {
        flex-direction: column;
    }

    .fix-nav {

        flex-direction: row;
        width: 100%;
        justify-content: center;
        height: 76px;

        position: static;
    }

    .fix-nav p {
        margin-left: 1%;
        margin-right: 1%;
    }

    .grid {
        width: 100%;
        margin-left: 1%;
        margin-right: 1%;
        grid-template-columns: repeat(2, 1fr);
    }

    .grid-2 {
        width: 100%;
        grid-template-columns: repeat(2, 1fr);

    }



}

@media only screen and (max-width: 767px) {


    .section-2-inside {
        flex-direction: column;
        padding-left: 0;
    }

    .fix-nav {
        width: 100%;
        position: static;
    }

    .grid {
        width: 100%;
        margin-left: 1%;
        margin-right: 1%;
        grid-template-columns: repeat(1, 1fr);
    }

    .grid-2 {
        width: 100%;
        grid-template-columns: repeat(1, 1fr);

    }

    .inside-text {
        display: block;
    }

    footer {
        height: 650px;
    }

    .grid>div h2 {
        width: 51%;
        font-size: 18px;
    }

    .grid>div h1 {
        font-size: 15px;
    }

    .grid>div img {
        padding: 0px;
        margin: 0px;
    }

    .section-1-inside {
        flex-direction: column;
        width: 100%;
    }

    .section-1-inside>div h2 {
        font-size: 18px;
    }

    .section-1-inside>div p {
        font-size: 12px;
        height: 150px;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .watch-btn {
        height: 45px;
    }

    .hide {
        display: block;

    }

    .grid-2>div h2 {
        font-size: 18px;
    }

    .section-1-inside img {
        width: 100%;
        margin-left: 0px;
    }

    .section-2-inside {
        width: 100%;
    }
}